{% extends "base.html" %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/projects.css' %}" type="text/css">
{% endblock head_css %}
{% block title %}
    eBayo.com | projects
{% endblock %}
{% block header%}
<h5>Projects</h5>
{% endblock%}
{% block pagecontent %}
    <section id="project-area">          
                <div class="projects-container">
                    <div class="intro-section">
                        <p>
                        Nor is there anyone who loves or pursues 
                        or desires to obtain pain of itself,
                         because it is pain, but occasionally 
                         circumstances occur in which toil and 
                         pain can procure him some great pleasure.
                      </p>
                    </div>
                    <div class="finished-projects-display">
                        <p>Finished Projects</p> 
                        <div class="finished-projects-container">
                            {% for each_project in projects %}
                                <a href="#details">
                                    <div class="projects">
                                        <p>
                                            {{each_project}}
                                        </p>
                                        </div>
                                </a>
                            {% endfor%}
                    </div>
                    </div>
                    <div class="search-projects">
                        <h4>Search Projects</h4>
                        <form action="/projects/list/search/" method="GET">
                            <label for="q">search</label>
                            <input type="text" name="q" id="search-area" value="{{query|escape}}">
                            <button type="submit" value="Search">search</button>
                        </form>
                        <div>
                            {% if query %}
                                <h3>Results for {{ query|escape }}</h3>
                                {% if search_result %}
                                    <h4>Projects found in database</h4>
                                    {% for each_search_result in search_result %}
                                        <a href="" style="color:black;">
                                            {{ each_search_result }}
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <p>No Project was found</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
           
    </section>
{% endblock %}

{% block footer%}
    <h5 id="ty">
        We rule in our world
    </h5>
{% endblock %}