{% extends "base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_css%}
        <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    {% endblock head_css%}
    {% block title %}
         eBayo.com
    {% endblock %}
</head>
{% block header%}
<h5>Home</h5>
{% endblock %}
{% block pagecontent %}
    <section id="details">       
        <div class="img-container">
            
            <p>Mama's Joy</p>
        </div>
    </section>
 {% endblock %}
`{% block footer%}
    <h5>
        We rule in our world, we are eBayo's
    </h5>
 {% endblock %}

</html>